{{ define "main" }} {{/* Title */}}
<div class="justify-left mx-auto mt-8 flex max-w-screen-xl px-4">
  <article>
    <h1 class="text-4xl font-extrabold text-dark dark:text-light">{{ .Title | emojify }}</h1>
    <div class="text-slate-500 dark:text-slate-400 mt-2 text-lg">{{ .Content | emojify }}</div>
  </article>
</div>

{{/* Grid of blog posts */}}
<div class="mx-auto max-w-screen-xl">
  <div class="mt-8 grid grid-flow-row grid-cols-1 justify-items-center gap-8 px-4 lg:grid-cols-2">
    {{ range .Pages.ByDate.Reverse }} {{ $cardimage := resources.GetMatch (print "**" .Params.cardimage) }}
    <a href="{{ .RelPermalink }}">
      <div class="bg-slate-400 text-slate-400 dark:bg-yellow-500 flex h-full max-h-80 w-full max-w-2xl flex-row bg-clip-border shadow-md">
        {{ with $cardimage }} {{ $cardimage = $cardimage.Filter (images.Process "fit 400x600 Lanczos q80 webp" ) }}
        <div class="m-0 w-2/5 shrink-0 overflow-hidden bg-clip-border">
          <img src="{{ $cardimage.RelPermalink }}" alt="image" class="h-full w-full object-cover" />
        </div>
        {{ end }}
        <div class="block flex flex-col justify-between bg-primary p-6 dark:bg-green">
          <div>
            <h4 class="mb-2 line-clamp-2 text-base font-semibold text-dark antialiased dark:text-light md:text-2xl">{{ .Title }}</h4>
            <p class="mb-4 line-clamp-6 text-base text-dark dark:text-light">{{ .Summary | emojify }}</p>
          </div>
          <div class="flex flex-row justify-between">
            <div class="flex items-center -space-x-3">
              {{ range $authors := .Params.authors }} {{ range $name, $image := $authors }} {{ $imgPath := resources.GetMatch (print "*" $image) }} {{ with $imgPath }} {{ $imgPath = $imgPath.Filter
              (images.Process "resize 40x40 webp" ) }} {{ end }} {{ end }} {{ end }}
            </div>
            <div class="p-3 text-xs text-tetriary">{{ .Date | time.Format ":date_medium" }}</div>
          </div>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}
